$primarycolor: #9356DC;
$secondcolor: #FF79DA;
$thirdcolor : #99E2D0;


*{
    font-family:"shrikhand";
    font-family: "roboto";
}

a{
    text-decoration: none;
}

header{    
    
        img {
            justify-content: center;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            width:30% ;
        }

        p{
            display: flex;
            justify-content: center;
            background-color: #EAEAEA; 
            padding-top: 20px;
            padding-bottom: 20px;
            box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
            color: #353535;
        }
}

    

.fa-solid {
    color:#f1eeeeec;
    margin-right : 5px;
}

.fa-location-dot{
    color: black;
    background-color: #f1eeeeec;

}


.mainTitle {
    display: flex;   
    background: #f1eeeeec;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    
            p{
                text-align: center;
                font-size: 20px;
            }

            h1{
                font-size: 30px;
                text-align: center;
            }
}

.mainbtn{

    border-radius: 30px;
    padding: 15px;
    background: linear-gradient($secondcolor,$primarycolor);
    border: none;

            a{
                color: #FFFFFF;
            }
}

.card {
    background-color: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    margin-top: 33px;
    gap: 15px;
    flex-direction: column;
    height: 300px;
    width: 90%;
    margin-left: 25px;

        img{
            object-fit: cover;
            width: 100%;
            height: 220px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
        }
       
}

h1 {
    padding-left: 20px;
}
.list {
    li{
    background: #f6f6f6;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    }
    .fa-solid{
       color: #7E7E7E;
       margin-left: 30px;
       margin-right: 30px;
       font-size: 20px;
    }

    .number{
        background: $primarycolor;
       border-radius: 50%;
       width: 30px;
       height: 30px;
       color: white;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-left: -30px;
       
}
}

.lastlist{
    margin-bottom: -30%;
}

.rest{
    background-color: #f1eeeeec;
    padding-top: 95px;
    padding-bottom: 70px;

        h2{
            padding-left: 20px;
        }
    
    
}


.title {
    font-size: 16px;
    margin-top: 0px;
    padding-left: 10px;
    
}

.subtitle {
     margin-top: 0px;
     padding-left: 10px;
}

.container {
    flex-wrap: wrap;
    line-height: 1em;
    padding-left: 10px;
    
}

.rating{
    display: flex;
    justify-content: right;
    margin-top: -70px;
    font-size: 25px;
    padding-right: 15px;
    
}

body {
   margin: 0px;
}

ul{
    list-style: none;
}

footer {
    background: #353535;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 20px;
    

        img{
            filter: invert(1);
            height: 20px;
            padding-left: 20px;
            
        }

        a{
            color: #FFFFFF;
            
        }

        li{
            margin-bottom: 10px;
          
        }
}
